<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<variable name="logDirectory" value="${basedir}/logs" />

	<targets>
		<target xsi:type="File"
				name="logfile"
				fileName="${logDirectory}/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<target xsi:type="Debugger"
				name="debugger"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<!-- Ignorar logs de EF Core por debajo de Warning -->
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" final="true" />

		<!-- Loguear todo lo demás desde Info -->
		<logger name="*" minlevel="Info" writeTo="logfile,debugger" />
	</rules>
</nlog>
