<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<!-- Variables (opcionales) -->
	<variable name="logDirectory" value="${basedir}/logs" />

	<!-- Targets -->
	<targets>
		<!-- Log a archivo -->
		<target xsi:type="File"
				name="logfile"
				fileName="${logDirectory}/${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Log a consola de depuración (útil mientras desarrollas) -->
		<target xsi:type="Debugger" name="debugger"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	</targets>

	<!-- Reglas -->
	<rules>
		<!-- Loguear todo desde Info hasta Fatal -->
		<logger name="*" minlevel="Info" writeTo="logfile,debugger" />
	</rules>
</nlog>

